/* ==========================================================================
Toggle Switch
========================================================================== */

.toggle-switch-control .customize-control-title {
    display: inline-block;
}

.toggle-switch {
    position: relative;
    width: 64px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    float: right;
}

.toggle-switch .toggle-switch-checkbox {
    display: none;
}

.toggle-switch .toggle-switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #ddd;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.toggle-switch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.2s ease-in 0s;
}

.toggle-switch-inner:before,
.toggle-switch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 22px;
    padding: 0;
    line-height: 22px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.toggle-switch-inner:before {
    content: "ON";
    padding-left: 8px;
    background-color: #000;
    color: #fff;
}

.toggle-switch-inner:after {
    content: "OFF";
    padding-right: 8px;
    background-color: #eee;
    color: #999;
    text-align: right;
}

.toggle-switch-switch {
    display: block;
    width: 16px;
    margin: 3px;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 38px;
    border: 2px solid #ddd;
    border-radius: 0;
    transition: all 0.2s ease-in 0s;
}

.toggle-switch-checkbox:checked+.toggle-switch-label .toggle-switch-inner {
    margin-left: 0;
}

.toggle-switch-checkbox:checked+.toggle-switch-label .toggle-switch-switch {
    right: 0px;
}

h3.accordion-section-title {
    margin: 0 !important;
}

/* Serparator CSS */

.separator-control {
    border: none !important;
    background: #fff;
    padding:10px;
    border-left: solid 5px #2271b1 !important;
    margin: 0;
}
.separator-control span {
    color: #2271b1;
    margin: 0;
}
.separator-control hr{
    display: none;
}

img.restaurant-brunch-selector-img.restaurant-brunch-selected-img {
    border: 2px solid #2271b1;
    cursor: pointer;
    width: 90px;
    height: auto;
    transition: border-color 0.4s ease-in-out;
}
li#accordion-section-upsell_section.cannot-expand .accordion-section-title:after,li#accordion-section-doc_section.cannot-expand .accordion-section-title:after{
    display: none;
}
.accordion-section-title button.accordion-trigger{
    width: 92%;
}
#customize-controls .control-section .accordion-section-title button:focus{
    box-shadow: none;
}